{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
  <title> {% block titulo %} TRUCO {% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="{% static 'truco/base.css' %}">
  {% block css %}{% endblock %}
  {% block script %}{% endblock %}
</head>
<body>
  {% block navbar %}
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#elementos-de-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{% static 'truco/images/trucogem.png' %}"></a>
      </div>

      <div class="collapse navbar-collapse navbar-right" id="elementos-de-navbar">
        <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
            <li><p class="navbar-text navbar-left">Bienvenido, <b style="color: white">{{ user.username|capfirst }}</b>.</p></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> Opciones<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="/user/{{ user.id }}"><span class="glyphicon glyphicon-user"></span> Usuario</a></li>
                  <li class="divider"></li>
                  <li><a href="/cerrar"><span class="glyphicon glyphicon-lock"></span> Cerrar sesion</a></li>
              </ul>
            </li>
          {% else %}
            <li><p class="navbar-text navbar-left">No has iniciado una sesión.</p></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <img src="{% static 'truco/images/2.jpg' %}" id="background" />
  {% endblock navbar %}
  <div class='container-fluid'>
    <div class='row' id='content'>
      {% block contenido %}
      Estamos trabajando en esto :)
      {% endblock %}
    </div>
  <div>
</body>

</html>
