{% extends "base.html" %}

{% block contenido %}
<div class='col-md-4 col-md-offset-4'>
  <h1>{{ pageuser.username|capfirst }}</h1>
  <div class='progress'>
    <div class='progress-bar progress-bar-success' style='width: {% widthratio ganadas totales 100 %}%'>{{ ganadas }} ganadas</div>
    <div class='progress-bar progress-bar-info' style='width: {% widthratio jugando totales 100 %}%'>{{ jugando }} jugando</div>
    <div class='progress-bar progress-bar-danger' style='width: {% widthratio perdidas totales 100 %}%'>{{ perdidas }} perdidas</div>
  </div>
  {% ifequal user.id pageuser.id %}
    <h3> Mis partidas: </h3>
  {% else %}
    <h3> Partidas de {{ pageuser.username|capfirst }} </h3>
  {% endifequal %}
  {% if partidas %}
    <table class="table table-striped">
    <thead style="font-weight: bold"><tr><td>Nombre</td><td>Estado</td><td>Jugando con</td></tr></thead>
    <tbody>
    {% for partida in partidas %}
        <tr>
          <td><a href="/sala/{{ partida.id }}">{{ partida.nombre }}</a></td>
          <td>
          {% if partida.terminada %}
            Terminada
          {% elif partida.rondas.count == 0 %}
            Esperando otro jugador
          {% else %}
            Jugando
          {% endif %}
          </td>
          <td>
            {% for jugador in partida.jugadores.all %}
              {% if jugador.user.id != pageuser.id %}
                <a href="/user/{{jugador.user.id}}">
                {{ jugador.user.username|capfirst }}
                </a>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
    {% endfor %}
    </tbody>
  {% else %}
    {% ifequal user.id pageuser.id %}
      <p>No has jugado ninguna partida aún!</p>
    {% else %}
      <p>{{ pageuser.username|capfirst }} no ha jugado ninguna partida aún.</p>
    {% endifequal %}
  {% endif %}
</div>
{% endblock %}