{% ifnotequal error_message "no_error" %}
<div class='col-md-4 col-md-offset-4'>
  {{ error_message }}
</div>
{% else %}
<div class='col-md-2 col-md-offset-1'>
  <table class='table'>
    <tr>
        <td>Equipo</td>
        <td>Puntos</td>
    </tr>
    <tr>
        <td> Nosotros</td>
        <td> {{jugador.equipo.puntos_partida}}</td>
    </tr>
    <tr>
        <td> Ellos</td>
        <td> {{otro_jugador.equipo.puntos_partida}}</td>
    </tr>
  </table>
  <a href="{{ ident }}/abandonar">
       <button type="button" class="btn btn-warning btn-block">Abandonar partida</button>
  </a>
</div>
{% ifequal cantidad_jugadores 2%}
  <div id="mesa" class='col-md-4 col-md-offset-1'>
    {% if jugador.toca_jugar %}
      es tu turno
    {% else %}
      es turno del otro
    {% endif %}
    <div id="otro_cartas" class="carta row">
      <div class='col-xs-10 col-xs-offset-1'>
      {% for carta in otro_mano.cartas.all %}
        <div class='col-xs-4'>
          <img {% ifnotequal carta.jugada None %}class="invisible"{% endifnotequal %} 
          src={% if otro_jugador.mostrar_cartas %}{{ carta.image }}{% else %}"/static/truco/images/fondocarta.jpg"
          {% endif %}>
        </div>
      {% endfor %}
      </div>
    </div>
    <div id="otro_mesa" class="carta row">
      <div class='col-xs-10 col-xs-offset-1'>
        <div class='col-xs-4 col-xs-offset-4'>
          <img class="invisible" src="/static/truco/images/fondocarta.jpg">
          {% for carta in otro_jugadas %}
              <img id="o{{ carta.jugada }}" src="{{ carta.image }}">
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="mias_mesa" class="carta row">
      <div class='col-xs-10 col-xs-offset-1'>
        <div class='col-xs-4 col-xs-offset-4'>
          <img class="invisible" src="/static/truco/images/fondocarta.jpg">
          {% for carta in mis_jugadas %}
              <img id="m{{ carta.jugada }}" src="{{ carta.image }}">
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="mis_cartas" class="carta row">
      <div class='col-xs-10 col-xs-offset-1'>
      {% for carta in mi_mano.cartas.all %}
        <div class='col-xs-4'>
          {% ifequal carta.jugada None %}
            {% if jugador.toca_jugar %}
              <a onclick="accion('{{ ident }}/{{ carta.id }}')">
                <img  src="{{ carta.image }}">
              </a>
            {% else %}
              <img src="{{ carta.image }}">
            {% endif %}
          {% else %}
            <img class="invisible" src="{{ carta.image }}">
          {% endifequal %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{%endifequal%}
<div id="botones" class="col-md-2 col-md-offset-1" style="padding-bottom: 20px">
  <p> {{ mensaje }} </p>
  {% if toca_jugar %}
    <script>me_toca();se_termino({% if ronda.terminada %}true{% else %}false{% endif %});
    </script>
    {% for boton in opciones %}
        <p>
          {% ifequal boton 'mentir' %}
            <form action = "" method="post" class="form-inline">
              {% csrf_token %}
              <div class="col-xs-6" style="padding-left: 0px; padding-right: 0px;">
              {{ form }}
              </div>
              <div class="col-xs-6" style="padding-left: 0px; padding-right: 0px;">
              <input type='submit' class='btn btn-warning btn-block' value="Mentir">
              </div>
              <script>
              $("select").addClass("form-control").css("width","90%");
              </script>
            </form>
          {% else %}
            <a onclick="accion('{{ ident }}/{{boton|slugify}}')">
              <button type="button" class="btn btn-warning btn-block">{{boton}}</button>
            </a>
          {% endifequal %}
        </p>
    {% endfor %}
  {% endif %}
</div>
{% endifnotequal %}
